<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2220">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="{{ card1_link }}" class="cs-link">
                    <h3 class="cs-h3">{{ card1_title }}</h3>
                    <!--Background Image-->
                    <picture class="cs-background" <% if card1_alt %> alt="{{ card1_alt }}" <% endif %>>
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{{ card1_image }}">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="{{ card1_image }}">
                        <img loading="lazy" decoding="async" src="{{ card1_image }}" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{ card2_link }}" class="cs-link">
                    <h3 class="cs-h3">{{ card2_title }}</h3>
                    <!--Background Image-->
                    <picture class="cs-background" <% if card2_alt %> alt="{{ card2_alt }}" <% endif %>>
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{{ card2_image }}">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="{{ card2_image }}">
                        <img loading="lazy" decoding="async" src="{{ card2_image }}" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{ card3_link }}" class="cs-link">
                    <h3 class="cs-h3">{{ card3_title }}</h3>
                    <!--Background Image-->
                    <picture class="cs-background" <% if card3_alt %> alt="{{ card3_alt }}" <% endif %>>
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{{ card3_image }}">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="{{ card3_image }}">
                        <img loading="lazy" decoding="async" src="{{ card3_image }}" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item cs-content">
                <span class="cs-topper">{{ top_title }}</span>
                <h2 class="cs-title">{{ title }}</h2>
            </li>
            <li class="cs-item">
                <a href="{{ card4_link }}" class="cs-link">
                    <h3 class="cs-h3">{{ card4_title }}</h3>
                    <!--Background Image-->
                    <picture class="cs-background" <% if card4_alt %> alt="{{ card4_alt }}" <% endif %>>
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{{ card4_image }}">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="{{ card4_image }}">
                        <img loading="lazy" decoding="async" src="{{ card4_image }}" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{ card5_link }}" class="cs-link">
                    <h3 class="cs-h3">{{ card5_title }}</h3>
                    <!--Background Image-->
                    <picture class="cs-background" <% if card5_alt %> alt="{{ card5_alt }}" <% endif %>>
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{{ card5_image }}">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="{{ card5_image }}">
                        <img loading="lazy" decoding="async" src="{{ card5_image }}" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{ card6_link }}" class="cs-link">
                    <h3 class="cs-h3">{{ card6_title }}</h3>
                    <!--Background Image-->
                    <picture class="cs-background" <% if card6_alt %> alt="{{ card6_alt }}" <% endif %>>
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{{ card6_image }}">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="{{ card6_image }}">
                        <img loading="lazy" decoding="async" src="{{ card6_image }}" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                