<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<section id="footer-1390">
    <div class="cs-container">
        <div class="cs-top">
            <ul class="cs-ul">
                {% set navPages = collections.all | eleventyNavigation %}
                {% for entry in navPages %}
                    <li class="cs-li">
                        <a href="{{ entry.link }}" class="cs-link">{{ entry.key }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="cs-bottom">
            <span class="cs-copyright">
                © Copyright 2025 - The CFE Event Photographers - All Rights Reserved - Site by
                <a href="https://gearycompany.com" class="cs-copyright-link">Geary Company</a>
            </span>
        </div>
    </div>
</section>