<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

{% set logo = "/assets/images/logo.png" %}
{% set logo_alt = "CFE Event Photographers" %}

<header id="page-header">
    <div class="container">
        <nav class="navbar" aria-label="main navigation">
            <div class="navbar-menu">
                <ul class="navbar-menu-list">
                    {% set navPages = collections.all | eleventyNavigation %}

                    {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                    {% for entry in navPages %}

                        {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
                        {% set hasChild = entry.children.length %}

                        {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when the item is rendered #}
                        {% set hideClasses = [] %}
                        {% if entry.hideOnMobile %}
                            {% set hideClasses = (hideClasses.push("cs-hide-on-mobile"), hideClasses) %}
                        {% endif %}
                        {% if entry.hideOnDesktop %}
                            {% set hideClasses = (hideClasses.push("cs-hide-on-desktop"), hideClasses) %}
                        {% endif %}

                        {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes #}
                        <li
                            class="navbar-menu-list-item {% if hasChild %}navbar-menu-list-item-dropdown{% endif %} {{ hideClasses | join(" ") }}"
                        >
                            {# If the page has child dropdown pages, render it as a <button> tag with the appropriate dropdown HTML #}
                            {% if hasChild %}

                                {# Check to see if the user's current page is one of the child pages. If so, apply the cs-active class to the dropdown parent #}
                                {% set activeClass = "" %}
                                {% for child in entry.children %}
                                    {% if child.url == page.url %}
                                        {% set activeClass = "cs-active" %}
                                    {% endif %}
                                {% endfor %}

                                {# Render the <button> with the active class, dropdown icon and child links #}
                                <button
                                    class="navbar-menu-list-item-link navbar-menu-list-item-dropdown-toggle {{ activeClass }}"
                                    aria-expanded="false"
                                    aria-haspopup="menu"
                                    aria-controls="dropdown-{{ entry.key }}"
                                    aria-label="dropdown-{{ entry.key }}"
                                    id="dropdown-{{ entry.key }}"
                                >
                                    {{ entry.key }}
                                    <img
                                        class="navbar-menu-list-item-dropdown-icon"
                                        src="/assets/images/chevron-dropdown.svg"
                                        alt="dropdown icon"
                                        width="15"
                                        height="15"
                                        decoding="async"
                                        aria-hidden="true"
                                    />
                                </button>

                                {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
                                <ul
                                    class="navbar-menu-list-item-dropdown-ul"
                                    id="dropdown-{{ entry.key }}"
                                >
                                    {% for child in entry.children %}
                                        <li class="navbar-menu-list-item-dropdown-li">
                                            <a
                                                href="{{ child.url }}"
                                                class="navbar-menu-list-item-link navbar-menu-list-item-dropdown-link"
                                                >{{ child.key }}</a
                                            >
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                                <a
                                    href="{{ entry.url }}"
                                    class="navbar-menu-list-item-link {% if entry.url == page.url %}navbar-menu-list-item-active{% endif %}"
                                    {% if entry.url == page.url %}aria-current="page"{% endif %}
                                >
                                    {{ entry.key }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
            </div>
            <div class="navbar-brand">
                <a href="/" class="navbar-logo">
                    <img src="{{ logo }}" alt="{{ logo_alt }}">
                </a>
            </div>
        </nav>
    </div>


