<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

{#
    Variables:
        gallery_topper
        gallery_title
        gallery_image_x_y       -- x = row, y = column, currently 9 rows which can be added by copying and pasting the row divs. Columns are hardcoded to
        gallery_image_x_y_alt   -- 3 by CodeStitch because they're idiots. But I'm using this 'cause I'd rather spend 1 hour setting it up than 3 hours making it from scratch.
        gallery_cta_text
#}

<section id="gallery-48">
    <div class="cs-container">
        <div class="cs-content">
            {% if gallery_topper %}
                <span class="cs-topper">{{ gallery_topper }}</span>
            {% endif %}
            {% if gallery_title %}
                <h2 class="cs-title">{{ gallery_title }}</h2>
            {% endif %}
        </div>
        <div class="cs-image-group">
            <div class="cs-row cs-row-1">
                <!-- Row 1-->
                 {% if gallery_image_1_1 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_1_1_alt %} alt="{{ gallery_image_1_1_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_1 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_1 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_1 }}" {% if gallery_image_1_1_alt %} alt="{{ gallery_image_1_1_alt }}" {% endif %} width="420" height="567">
                </picture>
                {% endif %}
                {% if gallery_image_1_2 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_1_2_alt %} alt="{{ gallery_image_1_2_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_2 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_2 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_2 }}" {% if gallery_image_1_2_alt %} alt="{{ gallery_image_1_2_alt }}" {% endif %} width="420" height="630">
                </picture>
                {% endif %}
                {% if gallery_image_1_3 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_1_3_alt %} alt="{{ gallery_image_1_3_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_3 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_3 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_3 }}" {% if gallery_image_1_3_alt %} alt="{{ gallery_image_1_3_alt }}" {% endif %} width="420" height="512">
                </picture>
                {% endif %}
                {% if gallery_image_1_4 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_1_4_alt %} alt="{{ gallery_image_1_4_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_4 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_4 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_4 }}" {% if gallery_image_1_4_alt %} alt="{{ gallery_image_1_4_alt }}" {% endif %} width="420" height="567">
                </picture>  
                {% endif %}
                {% if gallery_image_1_5 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_1_5_alt %} alt="{{ gallery_image_1_5_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_5 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_5 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_5 }}" {% if gallery_image_1_5_alt %} alt="{{ gallery_image_1_5_alt }}" {% endif %} width="420" height="630">
                </picture>
                {% endif %}
                {% if gallery_image_1_6 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_1_6_alt %} alt="{{ gallery_image_1_6_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_6 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_6 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_6 }}" {% if gallery_image_1_6_alt %} alt="{{ gallery_image_1_6_alt }}" {% endif %} width="420" height="512">
                </picture>
                {% endif %}
                {% if gallery_image_1_7 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_1_7_alt %} alt="{{ gallery_image_1_7_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_7 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_7 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_7 }}" {% if gallery_image_1_7_alt %} alt="{{ gallery_image_1_7_alt }}" {% endif %} width="420" height="567">
                </picture>
                {% endif %}
                {% if gallery_image_1_8 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_1_8_alt %} alt="{{ gallery_image_1_8_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_8 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_8 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_8 }}" {% if gallery_image_1_8_alt %} alt="{{ gallery_image_1_8_alt }}" {% endif %} width="420" height="630">
                </picture>
                {% endif %}
                {% if gallery_image_1_9 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_1_9_alt %} alt="{{ gallery_image_1_9_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_9 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_9 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_9 }}" {% if gallery_image_1_9_alt %} alt="{{ gallery_image_1_9_alt }}" {% endif %} width="420" height="512">
                </picture>
                {% endif %}
                {% if gallery_image_1_10 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_1_10_alt %} alt="{{ gallery_image_1_10_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_10 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_10 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_10 }}" {% if gallery_image_1_10_alt %} alt="{{ gallery_image_1_10_alt }}" {% endif %} width="420" height="567">
                </picture>
                {% endif %}
                {% if gallery_image_1_11 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_1_11_alt %} alt="{{ gallery_image_1_11_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_11 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_11 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_11 }}" {% if gallery_image_1_11_alt %} alt="{{ gallery_image_1_11_alt }}" {% endif %} width="420" height="630">
                </picture>
                {% endif %}
                {% if gallery_image_1_12 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_1_12_alt %} alt="{{ gallery_image_1_12_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_1_12 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_1_12 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_1_12 }}" {% if gallery_image_1_12_alt %} alt="{{ gallery_image_1_12_alt }}" {% endif %} width="420" height="512">
                </picture>
                {% endif %}
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                {% if gallery_image_2_1 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_2_1_alt %} alt="{{ gallery_image_2_1_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_1 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_1 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_1 }}" {% if gallery_image_2_1_alt %} alt="{{ gallery_image_2_1_alt }}" {% endif %} width="420" height="492">
                </picture>
                {% endif %}
                {% if gallery_image_2_2 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_2_2_alt %} alt="{{ gallery_image_2_2_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_2 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_2 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_2 }}" {% if gallery_image_2_2_alt %} alt="{{ gallery_image_2_2_alt }}" {% endif %} width="420" height="517">
                </picture>
                {% endif %}
                {% if gallery_image_2_3 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_2_3_alt %} alt="{{ gallery_image_2_3_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_3 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_3 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_3 }}" {% if gallery_image_2_3_alt %} alt="{{ gallery_image_2_3_alt }}" {% endif %} width="420" height="629">
                </picture>
                {% endif %}
                {% if gallery_image_2_4 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_2_4_alt %} alt="{{ gallery_image_2_4_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_4 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_4 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_4 }}" {% if gallery_image_2_4_alt %} alt="{{ gallery_image_2_4_alt }}" {% endif %} width="420" height="492">
                </picture>
                {% endif %}
                {% if gallery_image_2_5 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_2_5_alt %} alt="{{ gallery_image_2_5_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_5 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_5 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_5 }}" {% if gallery_image_2_5_alt %} alt="{{ gallery_image_2_5_alt }}" {% endif %} width="420" height="517">
                </picture>
                {% endif %}
                {% if gallery_image_2_6 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_2_6_alt %} alt="{{ gallery_image_2_6_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_6 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_6 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_6 }}" {% if gallery_image_2_6_alt %} alt="{{ gallery_image_2_6_alt }}" {% endif %} width="420" height="629">
                </picture>
                {% endif %}
                {% if gallery_image_2_7 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_2_7_alt %} alt="{{ gallery_image_2_7_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_7 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_7 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_7 }}" {% if gallery_image_2_7_alt %} alt="{{ gallery_image_2_7_alt }}" {% endif %} width="420" height="492">
                </picture>
                {% endif %}
                {% if gallery_image_2_8 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_2_8_alt %} alt="{{ gallery_image_2_8_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_8 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_8 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_8 }}" {% if gallery_image_2_8_alt %} alt="{{ gallery_image_2_8_alt }}" {% endif %} width="420" height="517">
                </picture>
                {% endif %}
                {% if gallery_image_2_9 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_2_9_alt %} alt="{{ gallery_image_2_9_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_9 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_9 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_9 }}" {% if gallery_image_2_9_alt %} alt="{{ gallery_image_2_9_alt }}" {% endif %} width="420" height="629">
                </picture>
                {% endif %}
                {% if gallery_image_2_10 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_2_10_alt %} alt="{{ gallery_image_2_10_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_10 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_10 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_10 }}" {% if gallery_image_2_10_alt %} alt="{{ gallery_image_2_10_alt }}" {% endif %} width="420" height="567">
                </picture>
                {% endif %}
                {% if gallery_image_2_11 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_2_11_alt %} alt="{{ gallery_image_2_11_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_11 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_11 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_11 }}" {% if gallery_image_2_11_alt %} alt="{{ gallery_image_2_11_alt }}" {% endif %} width="420" height="630">
                </picture>
                {% endif %}
                {% if gallery_image_2_12 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_2_12_alt %} alt="{{ gallery_image_2_12_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_2_12 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_2_12 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_2_12 }}" {% if gallery_image_2_12_alt %} alt="{{ gallery_image_2_12_alt }}" {% endif %} width="420" height="512">
                </picture>
                {% endif %}
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                {% if gallery_image_3_1 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_3_1_alt %} alt="{{ gallery_image_3_1_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_1 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_1 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_1 }}" {% if gallery_image_3_1_alt %} alt="{{ gallery_image_3_1_alt }}" {% endif %} width="420" height="625">
                </picture>
                {% endif %}
                {% if gallery_image_3_2 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_3_2_alt %} alt="{{ gallery_image_3_2_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_2 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_2 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_2 }}" {% if gallery_image_3_2_alt %} alt="{{ gallery_image_3_2_alt }}" {% endif %} width="420" height="452">
                </picture>
                {% endif %}
                {% if gallery_image_3_3 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_3_3_alt %} alt="{{ gallery_image_3_3_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_3 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_3 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_3 }}" {% if gallery_image_3_3_alt %} alt="{{ gallery_image_3_3_alt }}" {% endif %} width="420" height="629">
                </picture>
                {% endif %}
                {% if gallery_image_3_4 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_3_4_alt %} alt="{{ gallery_image_3_4_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_4 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_4 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_4 }}" {% if gallery_image_3_4_alt %} alt="{{ gallery_image_3_4_alt }}" {% endif %} width="420" height="625">
                </picture>
                {% endif %}
                {% if gallery_image_3_5 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_3_5_alt %} alt="{{ gallery_image_3_5_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_5 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_5 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_5 }}" {% if gallery_image_3_5_alt %} alt="{{ gallery_image_3_5_alt }}" {% endif %} width="420" height="452">
                </picture>
                {% endif %}
                {% if gallery_image_3_6 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_3_6_alt %} alt="{{ gallery_image_3_6_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_6 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_6 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_6 }}" {% if gallery_image_3_6_alt %} alt="{{ gallery_image_3_6_alt }}" {% endif %} width="420" height="629">
                </picture>
                {% endif %}
                {% if gallery_image_3_7 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_3_7_alt %} alt="{{ gallery_image_3_7_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_7 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_7 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_7 }}" {% if gallery_image_3_7_alt %} alt="{{ gallery_image_3_7_alt }}" {% endif %} width="420" height="625">
                </picture>
                {% endif %}
                {% if gallery_image_3_8 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_3_8_alt %} alt="{{ gallery_image_3_8_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_8 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_8 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_8 }}" {% if gallery_image_3_8_alt %} alt="{{ gallery_image_3_8_alt }}" {% endif %} width="420" height="452">
                </picture>
                {% endif %}
                {% if gallery_image_3_9 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_3_9_alt %} alt="{{ gallery_image_3_9_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_9 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_9 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_9 }}" {% if gallery_image_3_9_alt %} alt="{{ gallery_image_3_9_alt }}" {% endif %} width="420" height="629">
                </picture>
                {% endif %}
                {% if gallery_image_3_10 %}
                <picture class="cs-picture cs-picture-1" {% if gallery_image_3_10_alt %} alt="{{ gallery_image_3_10_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_10 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_10 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_10 }}" {% if gallery_image_3_10_alt %} alt="{{ gallery_image_3_10_alt }}" {% endif %} width="420" height="625">
                </picture>
                {% endif %}
                {% if gallery_image_3_11 %}
                <picture class="cs-picture cs-picture-2" {% if gallery_image_3_11_alt %} alt="{{ gallery_image_3_11_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_11 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_11 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_11 }}" {% if gallery_image_3_11_alt %} alt="{{ gallery_image_3_11_alt }}" {% endif %} width="420" height="452">
                </picture>
                {% endif %}
                {% if gallery_image_3_12 %}
                <picture class="cs-picture cs-picture-3" {% if gallery_image_3_12_alt %} alt="{{ gallery_image_3_12_alt }}" {% endif %}>
                    <source media="(max-width: 600px)" srcset="{{ gallery_image_3_12 }}">
                    <source media="(min-width: 601px)" srcset="{{ gallery_image_3_12 }}">
                    <img loading="lazy" decoding="async" src="{{ gallery_image_3_12 }}" {% if gallery_image_3_12_alt %} alt="{{ gallery_image_3_12_alt }}" {% endif %} width="420" height="629">
                </picture>
                {% endif %}
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
        {% if gallery_cta_text %}
            <a href="" class="cs-button-solid">{{ gallery_cta_text }}</a>
        {% endif %}
    </div>
</section>