

#page-header {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    background-color: #010101;
    position: fixed;
    z-index: 10000;
}

#page-header .drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #010101;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    opacity: 0;
    border-bottom: 5px solid #ffba19;
    visibility: hidden;
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    position: absolute;
    top: 100%;
    z-index: -100;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
    transform-origin: top;
}

#page-header:before {
    content: "";
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1100;
    transition: height 0.5s, opacity 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#page-header.active:before {
    height: 150vh;
    opacity: 1;
}

#page-header {
    width: 100%;
    box-sizing: border-box;
    padding: clamp(1.5rem, 3vw, 1.875rem) clamp(2rem, 2vw, 2.5rem) 0.5rem;
    background-color: #010101;
    position: fixed;
    z-index: 10000;
}

#page-header .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

#page-header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-header .toggle {
    display: none;
}

#page-header .ul-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#page-header .menu-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    gap: clamp(1.5rem, 3.5vw, 3rem);
}

#page-header .menu-item {
    list-style: none;
}

#page-header .menu-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
    transition: color 0.3s;
}

#page-header .menu-link.active {
    color: var(--primary);
}

#page-header .menu-link:hover {
    color: var(--primary);
}

#page-header .dropdown-toggle {    
    font-family: inherit;
    text-align: inherit;
    background: none;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#page-header .dropdown-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #010101;
    overflow: hidden;
    opacity: 0;
    border-bottom: 5px solid var(--primary);
    visibility: hidden;
    position: absolute;
    top: calc(100% - 103px);
    z-index: 100;
    transform: scaleY(0);
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
    transform-origin: top;
}

#page-header .menu-item-dropdown:hover .dropdown-ul,
#page-header .dropdown-toggle.active .dropdown-ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

/* centered */
#page-header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-header .logo {
    max-width: 100%;
    height: auto;
}

main {
    padding-top: 168px;
}

