---
title: "CFE Event Photography - Professional Event Photography in Las Vegas"
description: "We specialize in capturing the energy of business events in Las Vegas. From conventions and trade shows to networking events and professional headshots, our experienced photographers deliver high-quality event images."
permalink: '/about/'
eleventyNavigation:
    key: 'About'
    order: '200'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

{% set sbsr_left_image = "/assets/images/Chris-Fleharty-Headshot-April-2025.jpg" %}
{% set sbsr_right_topper = "About CFE Event Photography" %}
{% set sbsr_right_title = "Photos that Showcase Your Business Event" %}
{% set sbsr_right_content = "<strong>Creating Photos that Showcase the Essence and Energy of Your Event</strong>

<p>At CFE Photography, we specialize in capturing the professional essence and dynamic energy of business events in Las Vegas. Our expertise spans a wide range of corporate functions, including conventions, trade shows, networking events and professional headshots. Our mission is simple: to deliver high-quality photography that reflects the professionalism and impact of your brand.</p>

<p>Our photography brings both skill and precision to every project. From keynote speeches to candid networking moments, we ensure that every detail is documented with clarity and creativity. We understand the significance of corporate events in building brands and strengthening professional connections, and we are dedicated to providing images that highlight those moments.</p>

<p><strong>Business Event Photography:</strong> From conferences and seminars to retreats and award ceremonies, we capture the full scope of your corporate events with professionalism and style.</p>

<p><strong>Networking Event Photography:</strong> Networking is about building relationships. Our photography highlights authentic interactions, candid exchanges, and the overall success of your event.</p>

<p><strong>Professional Headshots:</strong> A strong personal brand starts with a professional image. We create polished headshots for individuals and teams that convey confidence and professionalism across every platform.</p>

<p>As Professional Corporate Event Photographers, we are committed to excellence, reliability, and client satisfaction. Using state-of-the-art equipment and a keen eye for detail, we ensure your events are remembered through powerful visual storytelling. Partner with us to capture the essence of your corporate gatherings and receive images that serve as a lasting asset for your brand and professional identity.</p>
" %}
{% include "components/sidebyreversed.html" %}

{% endblock %}
