---
title: "About - CVE Event Photographers"
description: ""
permalink: '/about'
eleventyNavigation:
    key: 'About'
    order: '200'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

{% set sbsr_left_image = "/assets/images/Chris-Fleharty-Headshot-April-2025.jpg" %}
{% set sbsr_right_topper = "About CFE Photography" %}
{% set sbsr_right_title = "Welcome to CFE Event Photographers!" %}
{% set sbsr_right_content = "<strong>Creating Photos that Showcase the Essence and Energy of Your Event</strong>

<p>CFE Event Photography captures the professional essence and dynamic energy of business events in Las Vegas. We are expert at photographing a range of corporate functions, including business event photography, convention and trade show photography, networking event photography, and professional headshots. Our mission is to provide high-quality, professional photography services that meet the diverse needs of the corporate world.</p>

<p>Our team of skilled photographers brings deep experience to every event, ensuring that every moment, from keynote speeches to candid networking interactions, is captured with clarity and precision. We understand the importance of these events in showcasing your brand and facilitating professional connections, and we strive to deliver images that reflect your professionalism.</p>

<p><strong>Business Event Photography:</strong> All types of business events, from seminars and conferences to corporate retreats and award ceremonies.</p>

<p><strong>Networking Event Photography:</strong> Networking events are all about connections, and our photography captures these moments with authenticity. We focus on candid moments and formal settings alike, providing you with a great record of the event’s success.</p>

<p><strong>Professional Headshots:</strong> We offer professional headshot services to individuals and teams, understanding the importance of a strong personal brand in the corporate world. Our headshots are crafted to convey professionalism and confidence, suitable for use across various professional platforms.</p>

<p>At Corporate Event Photography LV, we are committed to excellence and client satisfaction. Our use of state-of-the-art equipment and our attention to detail ensure that your corporate events are remembered and celebrated through stunning visual storytelling. Let us partner with you to capture the essence of your corporate events, providing you with images that serve as a valuable asset for your brand and professional identity.</p>
" %}
{% include "components/sidebyreversed.html" %}

{% endblock %}