---
title: "CFE Event Photography - Founder Biography"
description: "Learn about the journey of Chris Fleharty, the founder of CFE Event Photography."
permalink: '/biography/'
eleventyNavigation:
    key: 'Biography'
    order: '350'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}


{% set sbsr_left_image = "/assets/images/Chris-Fleharty-Headshot-April-2025.jpg" %}
{% set sbsr_left_image_alt = "Chris Fleharty Headshot" %}
{% set sbsr_right_topper = "Meet the Photographer" %}
{% set sbsr_right_title = "Chris Fleharty" %}
{% set sbsr_right_content = "<p>In the early 1970s, Chris inherited his father's love for photography and picked up his first 35mm rangefinder camera. Little did he know that this would be the beginning of a lifelong fascination with capturing moments through the lens. Within a year, he upgraded to expanding his knowledge and techniques in photography. His father even supported his passion by allowing him to set up his own darkroom for developing black and white film and prints.</p>
<p>With a thirst for adventure, Chris spent countless hours backpacking and hiking through the picturesque landscapes of the Southwest. He documented not only the stunning scenery but also the outdoor trips of the Boy Scouts. However, his journey took an unexpected turn when he found himself thrust into the world of commercial photography at a young age.</p>
<p>It happened during a Las Vegas Outlaws Hockey Game. The regular photographer from the Las Vegas Sun was unable to cover the game on a Saturday night. Little did Chris know that this twist of fate would change his life forever. Armed with his new camera equipment, he sat in the stands, hoping to capture some shots of the game. But fate had other plans for him.</p>
<p>The general manager of the International Ice Palace noticed Chris and approached him in a hurry. He urgently needed someone to take the team photograph on the ice, and he needed 20 prints of the shot by morning. Chris didn't hesitate. He stayed up all night, tirelessly processing and printing the group photos and action shots. In an instant, he went from a spectator to the official photographer for the Las Vegas Outlaws Hockey Team, junior hockey teams, and figure skaters.</p>
<p>However, Chris's journey in photography took a turn in his late twenties. He decided to pursue a Bachelor's degree in Business Management at UNLV, focusing on Statistics. While studying, he found employment with prominent companies like Lockheed Missiles and Space (LEMSCO), Inacom Information Systems, Exabyte Corporation, and Computer Associates, where he excelled in the computer field as a National Account Manager in Northern California.</p>
<p>But life is full of surprises, and when the dotcom boom eventually burst, Chris made the decision to return to his roots in Henderson, Nevada. Given the limited opportunities for high-tech companies in Las Vegas, he transitioned into the building trades, working as a Business Development Manager for the next 15 years. During this time, he seized an opportunity to train at FLIR Corporation and became a certified Level 2 Thermographer. Chris then spent about a year conducting infrared inspections in British Petroleum oil rigs and processing facilities in Prudhoe Bay, Alaska.</p>
<p>In 2020, armed with the knowledge he had gained in business development, business management, and photography, Chris decided it was time to establish his own company. Equipped with state-of-the-art, high-resolution cameras and lenses, he embarked on a career in commercial event photography, specializing in corporate clients. His focus lies in capturing the essence of conventions, conferences, galas, banquets, luncheons, award ceremonies, publicity events, hospitality settings, golf tournaments, and professional headshots.</p>
<p>Chris Fleharty's story is a testament to the power of following your passions and seizing opportunities when they arise. Through his lens, he has been able to capture the beauty of the world around him and share it with others. Today, he continues to pursue his passion for photography, bringing joy and memories to his clients through his exceptional work.</p>
" %}
{% include "components/sidebyreversed.html" %}
{% endblock %}
