---
title: "CVE Event Photographers"
description: ""
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
<div class="main-content-container">
    <!-- Hero -->
    
    {% set title_top = "<<<<<CFE EVENT PHOTOGRAPHY>>>>>" %}
    {% set title = "Las Vegas Event Photography" %}
    {% set hero_image_mobile = "/assets/images/hero-image.jpg" %}
    {% set hero_image_large_format = "/assets/images/hero-image.jpg" %}

    {% include "components/hero_centered.html" %}

    
</div>
{% endblock %}