---
title: "CFE Event Corporate Event Photography Las Vegas"
description: "Las Vegas Event Photography specializing in corporate events, conventions, trade shows and professional headshots."
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
<div class="main-content-container">
    <!-- Hero -->
    
    {% set title_top = "CFE Event Photography" %}
    {% set title = "Las Vegas Event Photography" %}
    {% set hero_image_mobile = "/assets/images/event-photography-lv.png" %}
    {% set hero_image_large_format = "/assets/images/event-photography-lv.png" %}
    {% include "components/hero_centered.html" %}

    {% set title_top = "About CFE Photography" %}
    {% set section_text = "Capturing the Energy of Las Vegas Business Events" %}
    {% include "components/testimonial.html" %}

    {% set card1_title = "Ribbon Cutting" %}
    {% set card1_image = "/assets/images/ribboncutting-1.png" %}
    {% set card1_link = "/portfolio" %}
    {% set card2_title = "Business Conferences" %}
    {% set card2_image = "/assets/images/business-conferences-2.png" %}
    {% set card2_link = "/portfolio" %}
    {% set card3_title = "Corporate Events" %}
    {% set card3_image = "/assets/images/corporate-events3.png" %}
    {% set card3_link = "/portfolio" %}
    {% set card4_title = "Photo Station" %}
    {% set card4_image = "/assets/images/photo-station-4.png" %}
    {% set card4_link = "/portfolio" %}
    {% set card5_title = "Networking Conventions" %}
    {% set card5_image = "/assets/images/networking-convention-5.png" %}
    {% set card5_link = "/portfolio" %}
    {% set card6_title = "Trade Shows" %}
    {% set card6_image = "/assets/images/tradeshow-6.png" %}
    {% set card6_link = "/portfolio" %}
    {% set top_title = "Professional Event Photography" %}
    {% set title = "Photography for all of your events" %}
    {% include "components/6card.html" %}

    {% set sbsr_left_image = "/assets/images/Chris-Fleharty-Headshot-April-2025.jpg" %}
    {% set sbsr_right_topper = "Meet the Photographer" %}
    {% set sbsr_right_title = "Chris Fleharty" %}
    {% set sbsr_right_content = "Chris Fleharty, a Native Nevadan, discovered photography in the 1970s and quickly grew from developing film in a home darkroom to shooting professional sports and commercial events. After a successful career in business and technology, he returned to his passion and now specializes in high-quality commercial event photography for corporate clients, from conventions and galas to award ceremonies and headshots" %}
    {% set sbsr_cta_text = "Learn More" %}
    {% set sbsr_cta_link = "/biography/" %}
    {% include "components/sidebyreversed.html" %}

    {% set gallery_topper = "Headshot Gallery" %}
    {% set gallery_title = "Professional Headshots" %}
    {% set gallery_category_1 = "Classic" %}
    {% set gallery_category_2 = "Polished" %}
    {% set gallery_category_3 = "Casual" %}
    {% set gallery_image_1_1 = "/assets/images/headshots/portrait1-1.png" %}
    {% set gallery_image_1_1_alt = "Classic Headshot" %}
    {% set gallery_image_1_2 = "/assets/images/headshots/portrait1-2.png" %}
    {% set gallery_image_1_2_alt = "Classic Headshot" %}
    {% set gallery_image_1_3 = "/assets/images/headshots/portrait1-3.png" %}
    {% set gallery_image_1_3_alt = "Classic Headshot" %}
    {% set gallery_image_1_4 = "/assets/images/headshots/portrait1-4.png" %}
    {% set gallery_image_1_4_alt = "Classic Headshot" %}
    {% set gallery_image_2_1 = "/assets/images/headshots/portrait2-1.png" %}
    {% set gallery_image_2_1_alt = "Polished Headshot" %}
    {% set gallery_image_2_2 = "/assets/images/headshots/portrait2-2.png" %}
    {% set gallery_image_2_2_alt = "Polished Headshot" %}
    {% set gallery_image_2_3 = "/assets/images/headshots/portrait2-3.png" %}
    {% set gallery_image_2_3_alt = "Polished Headshot" %}
    {% set gallery_image_2_4 = "/assets/images/headshots/portrait2-4.png" %}
    {% set gallery_image_2_4_alt = "Polished Headshot" %}
    {% set gallery_image_3_1 = "/assets/images/headshots/portrait3-1.png" %}
    {% set gallery_image_3_1_alt = "Casual Headshot" %}
    {% set gallery_image_3_2 = "/assets/images/headshots/portrait3-2.png" %}
    {% set gallery_image_3_2_alt = "Casual Headshot" %}
    {% set gallery_image_3_3 = "/assets/images/headshots/portrait3-3.png" %}
    {% set gallery_image_3_3_alt = "Casual Headshot" %}
    {% set gallery_image_3_4 = "/assets/images/headshots/portrait3-4.png" %}
    {% set gallery_image_3_4_alt = "Casual Headshot" %}
    {% include "components/multigallery.html" %}

    {% set contactform_image = "/assets/images/contact-cfe.png" %}
    {% set contact_image_alt = "Contact CFE Event Photography" %}
    {% include "components/contactform.html" %}
</div>
{% endblock %}
