---
title: "Event Photography Portfolio - Professional Las Vegas Corporate Photography"
description: "See how we bring business events to life through photography. Our portfolio highlights conventions, networking events, and professional headshots that showcase brands at their best."
permalink: '/portfolio/'
eleventyNavigation:
    key: 'Portfolio'
    order: '300'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

{% set gallery_topper = "Our Portfolio" %}
{# {% set gallery_title = "Business Conferences" %} #}
{% set gallery_image_1_1 = "/assets/images/portfolio/closet-grand-opening.jpg" %}
{% set gallery_image_1_1_alt = "Closet Grand Opening" %}
{% set gallery_image_2_1 = "/assets/images/portfolio/concord-ribbon-cutting.jpg" %}
{% set gallery_image_2_1_alt = "Convention Candid" %}
{% set gallery_image_3_1 = "/assets/images/portfolio/conference-room.jpg" %}
{% set gallery_image_3_1_alt = "Conference Room" %}
{% set gallery_image_1_2 = "/assets/images/portfolio/Convention-candid.jpg" %}
{% set gallery_image_1_2_alt = "Convention Candid" %}
{% set gallery_image_2_2 = "/assets/images/portfolio/Convention-corporate.jpg" %}
{% set gallery_image_2_2_alt = "Convention Corporate" %}
{% set gallery_image_3_2 = "/assets/images/portfolio/Convention-fashion.jpg" %}
{% set gallery_image_3_2_alt = "Convention Fashion" %}
{% set gallery_image_1_3 = "/assets/images/portfolio/Convention-fashion2.jpg" %}
{% set gallery_image_1_3_alt = "Convention Fashion" %}
{% set gallery_image_2_3 = "/assets/images/portfolio/core-personnel-ribbon-cutting.jpg" %}
{% set gallery_image_2_3_alt = "Core Personnel Ribbon Cutting" %}
{% set gallery_image_3_3 = "/assets/images/portfolio/corporate-entertainment.jpg" %}
{% set gallery_image_3_3_alt = "Corporate Entertainment" %}
{% set gallery_image_1_4 = "/assets/images/portfolio/corporate-floor-event.jpg" %}
{% set gallery_image_1_4_alt = "Corporate Floor Event" %}
{% set gallery_image_2_4 = "/assets/images/portfolio/employee-photo.jpg" %}
{% set gallery_image_2_4_alt = "Employee Photo" %}
{% set gallery_image_3_4 = "/assets/images/portfolio/entertainment-event-photo.jpg" %}
{% set gallery_image_3_4_alt = "Entertainment Event Photo" %}
{% set gallery_image_1_5 = "/assets/images/portfolio/event-greenscreen.jpg" %}
{% set gallery_image_1_5_alt = "Event Greenscreen" %}
{% set gallery_image_2_5 = "/assets/images/portfolio/event-photography.jpg" %}
{% set gallery_image_2_5_alt = "Event Photography" %}
{% set gallery_image_3_5 = "/assets/images/portfolio/event-photos.jpg" %}
{% set gallery_image_3_5_alt = "Event Photos" %}
{% set gallery_image_1_6 = "/assets/images/portfolio/event-photo-station.jpg" %}
{% set gallery_image_1_6_alt = "Event Photo Station" %}
{% set gallery_image_2_6 = "/assets/images/portfolio/factory-floor-crew.jpg" %}
{% set gallery_image_2_6_alt = "Factory Floor Crew" %}
{% set gallery_image_3_6 = "/assets/images/portfolio/green-ribbon-cutting-event.jpg" %}
{% set gallery_image_3_6_alt = "Green Ribbon Cutting Event" %}
{% set gallery_image_1_7 = "/assets/images/portfolio/group-corporate-event.jpg" %}
{% set gallery_image_1_7_alt = "Group Corporate Event" %}
{% set gallery_image_2_7 = "/assets/images/portfolio/networking-candid-photo.jpg" %}
{% set gallery_image_2_7_alt = "Network Candid Photo" %}
{% set gallery_image_3_7 = "/assets/images/portfolio/networking-event.jpg" %}
{% set gallery_image_3_7_alt = "Network Event" %}
{% set gallery_image_1_8 = "/assets/images/portfolio/networking-presentation.jpg" %}
{% set gallery_image_1_8_alt = "Networking Presentation" %}
{% set gallery_image_2_8 = "/assets/images/portfolio/photo-ribbon-cutting.jpg" %}
{% set gallery_image_2_8_alt = "Photo Ribbon Cutting" %}
{% set gallery_image_3_8 = "/assets/images/portfolio/photo-station.jpg" %}
{% set gallery_image_3_8_alt = "Photo Station" %}
{% set gallery_image_1_9 = "/assets/images/portfolio/re-group-photo.jpg" %}
{% set gallery_image_1_9_alt = "Re Group Photo" %}
{% set gallery_image_2_9 = "/assets/images/portfolio/ribbon-cut-photography.jpg" %}
{% set gallery_image_2_9_alt = "Ribbon Cut Photography" %}
{% set gallery_image_3_9 = "/assets/images/portfolio/ribbon-cutting-fun.jpg" %}
{% set gallery_image_3_9_alt = "Ribbon Cutting Fun" %}
{% set gallery_image_1_10 = "/assets/images/portfolio/ribbon-cutting-hero.jpg" %}
{% set gallery_image_1_10_alt = "Ribbon Cutting Hero" %}
{% set gallery_image_2_10 = "/assets/images/portfolio/ribbon-cutting-photo.jpg" %}
{% set gallery_image_2_10_alt = "Ribbon Cutting Photo" %}
{% set gallery_image_3_10 = "/assets/images/portfolio/scan-ribbon-cutting.jpg" %}
{% set gallery_image_3_10_alt = "Scan Ribbon Cutting" %}
{% set gallery_image_1_11 = "/assets/images/portfolio/staff-ribbon-cutting-event.jpg" %}
{% set gallery_image_1_11_alt = "Staff Ribbon Cutting Event" %}
{% set gallery_image_2_11 = "/assets/images/portfolio/year-in-review-event.jpg" %}
{% set gallery_image_2_11_alt = "Year In Review Event" %}
{% set gallery_image_3_11 = "/assets/images/portfolio/zhiyun-convention.jpg" %}
{% set gallery_image_3_11_alt = "Zhiyun Convention" %}
{% set gallery_image_1_12 = "/assets/images/headshots/portrait1-1.png" %}
{% set gallery_image_1_12_alt = "Classic Headshot" %}
{% set gallery_image_2_12 = "/assets/images/headshots/portrait1-2.png" %}
{% set gallery_image_2_12_alt = "Classic Headshot" %}
{% set gallery_image_3_12 = "/assets/images/headshots/portrait1-3.png" %}
{% set gallery_image_3_12_alt = "Classic Headshot" %}
{% set gallery_image_1_13 = "/assets/images/headshots/portrait1-4.png" %}
{% set gallery_image_1_13_alt = "Classic Headshot" %}
{% set gallery_image_2_13 = "/assets/images/headshots/portrait2-1.png" %}
{% set gallery_image_2_13_alt = "Polished Headshot" %}
{% set gallery_image_3_13 = "/assets/images/headshots/portrait2-2.png" %}
{% set gallery_image_3_13_alt = "Polished Headshot" %}
{% set gallery_image_1_14 = "/assets/images/headshots/portrait2-3.png" %}
{% set gallery_image_1_14_alt = "Polished Headshot" %}
{% set gallery_image_2_14 = "/assets/images/headshots/portrait2-4.png" %}
{% set gallery_image_2_14_alt = "Polished Headshot" %}
{% set gallery_image_3_14 = "/assets/images/headshots/portrait3-1.png" %}
{% set gallery_image_3_14_alt = "Casual Headshot" %}
{% set gallery_image_1_15 = "/assets/images/headshots/portrait3-2.png" %}
{% set gallery_image_1_15_alt = "Casual Headshot" %}
{% set gallery_image_2_15 = "/assets/images/headshots/portrait3-3.png" %}
{% set gallery_image_2_15_alt = "Casual Headshot" %}
{% set gallery_image_3_15 = "/assets/images/headshots/portrait3-4.png" %}
{% set gallery_image_3_15_alt = "Casual Headshot" %}



{# {% set gallery_cta_text = "View Full Gallery" %} #}
{% include "components/mosaicgallery.html" %}

{% endblock %}
